body {
  margin: 0 10%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  background-color:#a9abae;
  margin: 0%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.footer {
  background-color: #a9abae;
  position: absolute;
  bottom: 0%;
  width: 80%;
  padding-top: 4%;
  padding-bottom: 4%;
}

/*CATEGORY*/

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 2%;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 5%;
}

.nav-item {
  width: calc(var(--nav-size) * 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Icon/Text Button*/

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--text-size);
  height: var(--text-size);
  background-color: #484a4d;
  border-radius: 10%;
  padding: 10px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.3);
}

/*Dropdown Menu*/

.dropdown {
  position: absolute;
  top: 22.5%;
  width: 300px;
  transform: translateX(45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  gap: 5%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: var(--speed);
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #525357;
}